
<!--<app-schedule-table-row-static *ngIf="editModeValue == false"></app-schedule-table-row-static>-->
<!--<app-schedule-table-row-edit *ngIf="editModeValue == true"></app-schedule-table-row-edit>-->

<!--<div>-->
  <!--<ul *ngFor="let hero of heroes" class="tr">-->
    <!--<li  *ngIf="editModeValue" class="td">{{ hero.id }}</li>-->
    <!--<li  *ngIf="editModeValue" class="td">{{ hero.name }}</li>-->
    <!--<button type="button" (click)="changeMode(true)">update</button>-->
  <!--</ul>-->
<!--</div>-->
<!--<div>-->
  <!--<ul *ngFor="let hero of heroes" class="tr">-->
    <!--<li class="td"><input type="text" value="{{ hero.id }}"></li>-->
    <!--<li class="td"><input type="text" value="{{ hero.name }}"></li>-->
    <!--<button type="button" (click)="changeMode(false)">back</button>-->
  <!--</ul>-->
<!--</div>-->

<!--<ul *ngFor="let hero of heroes">-->
  <!--<li>-->
    <!--<span *ngIf="!editModeValue">{{ hero.id }}</span>-->
    <!--<input *ngIf="editModeValue" type="text" value="{{ hero.id }}">-->
  <!--</li>-->
  <!--<li>-->
    <!--<span *ngIf="!editModeValue">{{ hero.name }}</span>-->
    <!--<input *ngIf="editModeValue" type="text" value="{{ hero.name }}">-->
  <!--</li>-->
  <!--<li>-->
    <!--<button *ngIf="!editModeValue" type="button" (click)="changeMode(true)">update</button>-->
    <!--<button *ngIf="editModeValue" type="button" (click)="changeMode(false)">back</button>-->
  <!--</li>-->
<!--</ul>-->

<ul *ngFor="let hero of heroes; let i = index" class="schedule-row">
  <li class="start-time">
    <span *ngIf="!hero.edit">{{ hero.startTime }}</span>
    <input *ngIf="hero.edit" type="text" [ngModel]="startTime" name="startTime" value="{{ hero.startTime }}">
  </li>
  <li class="end-time">
    <span *ngIf="!hero.edit">{{ hero.endTime }}</span>
    <input *ngIf="hero.edit" type="text" [ngModel]="endTime" name="endTime" value="{{ hero.endTime }}">
  </li>
  <li class="description">
    <span *ngIf="!hero.edit">{{ hero.description }}</span>
    <input *ngIf="hero.edit" type="text" [ngModel]="description" name="description" value="{{ hero.description }}">
  </li>
  <li class="action">
    <button *ngIf="!hero.edit" type="button" (click)="hero.edit = true">update</button>
    <button *ngIf="hero.edit" type="button" (click)="editItem(hero.id)">save</button>
    <button *ngIf="hero.edit" type="button" (click)="hero.edit = false">back</button>
  </li>
  <li class="action">
    <button type="button" (click)="deleteItem(hero.id)">delete</button>
  </li>
</ul>
